@import "break-points";
@import "btn";

.downloadContainer{
  padding: 0 15px;
  text-align: center;
  font-family: sans-serif;
  h3{
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1.1;
  }
  p{
    color: #2d3033;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22.4px;
    margin-bottom: 10px;
  }
.btn{
  margin-top: 30px;
}
}

