@import "theme";
@import "break-points";

#ourTeam{

  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .person{
      max-width: 270px;
      text-align: center;
      margin: 0 10px 50px 10px;
      .personContent{
        margin-top: 20px;
        h4{
          margin: 10px 0;
          font-weight: 400;
          font-size: 22px;
          color: #2d3033;
        }
        h5{
          color: #e84545;
          font-size: 13px;
          font-weight: 400;
          margin:10px 0 20px 0;
          text-transform: uppercase;
        }
        p{
          font-size: 14px;
          line-height: 22.4px;
          color: #6c7279;
          margin-bottom: 10px;

        }
      }
      ul{
        display: flex;
        justify-content: space-evenly;
        color: #c6cacc;
        margin-top: 30px;
        li{
          border-radius: 5px;
          height: 40px;
          width: 40px;
          a{
            width: 100%;
            height: 100%;
            overflow: hidden;
            transition: none;
          }
        }
        li:hover{
          transition: 0.3s;
          background-color: $accent-color;
          border-color: $accent-color !important;
          color: white;
        }
      }
    }
  }
}

@media screen and (min-width: $md){
  #ourTeam{
    .container{
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

@media screen and (min-width: $lg){
  #ourTeam{
    .container{
      justify-content: space-between;
      .person{
        max-width: 212.5px;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px){
  #ourTeam{
    .container{
      .person{
        margin-bottom: 0;
        ul{
          justify-content: left;
          li+li{
            margin-left: 5px;
          }
        }
        .personContent{
          text-align: left;
        }
      }
    }
  }
}


@media screen and (min-width: $xl){
  #ourTeam{
    .container{
      .person{
        max-width: 262.5px;
      }
    }
  }
}
