@import "theme";
@import "break-points";

#ourTeam{

  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .person{
      display: flex;
      flex-wrap: wrap;
      max-width: 270px;
      text-align: center;
      margin: 0 10px 50px 10px;
      .personImageContainer{
        width: 100%;
        position: relative;
        padding-top: 100%;
        overflow: hidden;
        align-self: flex-start;
        img{
        position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
      .personContent{
        margin-top: 20px;
        align-self: flex-start;

        h4{
          margin: 10px 0;
          font-weight: 400;
          font-size: 22px;
          color: #2d3033;
        }
        h5{
          color: #e84545;
          font-size: 13px;
          font-weight: 400;
          margin:10px 0 20px 0;
          text-transform: uppercase;
        }
        p{
          font-size: 14px;
          line-height: 22.4px;
          color: #6c7279;
          margin-bottom: 10px;

        }
      }
      ul{
        display: flex;
        color: #c6cacc;
        margin-top: 30px;
        li{
          a{
            overflow: hidden;
            transition: none;
          }
        }
        li+li{
          margin-left: 3px;
        }
        a:hover{
          transition: 0.3s;
          background-color: $accent-color;
          border-color: $accent-color !important;
          color: white;
        }
      }
    }
  }
}

@media screen and (min-width: $md){
  #ourTeam{
    .container{
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: stretch;
      .person{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .personContent{
          align-self: flex-start;
          margin-top: 10px;

        }
        ul{
          align-self: flex-end !important;
        }
      }
    }
  }
}

@media screen and (min-width: $lg){
  #ourTeam{
    .container{
      .person{
        max-width: 212.5px;
      }
    }
  }
}

@media screen and (min-width: 1024px){
  #ourTeam{
    .container{
      .person{
        justify-content: left;
        margin-bottom: 0;
        .personContent{
          text-align: left;

        }
      }
    }
  }
}


@media screen and (min-width: $xl){
  #ourTeam{
    .container{
      .person{
        max-width: 262.5px;
      }
    }
  }
}
