@import "footer";
@import "header";
@import "features";
@import "works";
@import "ourteam";
@import "testimonials";
@import "download";

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  overflow-x:hidden;
  section{
    scroll-margin-top: 74px;
  }
}

* {

  scroll-behavior: smooth;
  box-sizing: border-box;
}


.socialIcons, .footerItem a {
  border: 1px solid rgb(232, 236, 238);
  border-radius: 2px;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
}


a{
  text-decoration: none;
  color: inherit;
}

a:hover, a:active{
  transition: background-color, color, 0.3s;
}

.btn:hover{
  background-color: #f12a21;
}

@media screen  and (min-width: $md){
  .container{
    width: 750px;
  }
}

@media screen  and (min-width: $lg){
  .container{
    width: 970px;
  }
}

@media screen  and (min-width: $xl){
  .container{
    width: 1170px;
  }
}